.button {
  background: transparent;
  cursor: pointer;
  border-radius: 99px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--c-text-color);
  transition: var(--fade);
  text-decoration: none;
  
  &:hover {
    color: var(--c-theme);
    background-color: var(--c-theme-10);
  }

}

.fullWitdth {
  width: 100% !important;
}
